<div class="col-md-8 col-md-offset-2 p-t-md">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Connect your Stripe Account</h2>
      </div>
      <div class="panel-body">
	      <%= link_to "Setup Stripe", user_omniauth_authorize_path(:stripe_connect) %>
      </div>
    </div>
  </div>
</div>
