<div class="col-sm-3 sidebar">
  <nav class="sidebar-nav">
    <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-header">Dashboard</li>
        <li class="<%= partial == 'main' ? 'active' : '' %>">
          <%= link_to "Dashboard", dashboard_path, :class => 'menu-item' %>
        </li>
        <li class="<%= partial == 'orders' ? 'active' : '' %>">
          <%= link_to "Payments", dashboard_orders_path, :class => 'menu-item' %>
        </li>
        <!-- <li >
          <a href="order-history/index.html">Cliq</a>
        </li>
        <li>
          <a href="fluid/index.html">Orders</a>
        </li>
        <li>
          <a href="icon-nav/index.html">Profile</a>
        </li>

        <li class="nav-header">Settings</li>
        <li>
          <a href="docs/index.html">
            Account
          </a>
        </li>
        <li>
          <a href="http://getbootstrap.com" target="blank">
            Password
          </a>
        </li>
        <li >
          <a href="light/index.html">Notifications</a>
        </li>
        <li>
          <a href="#docsModal" data-toggle="modal">
            Payments
          </a>
        </li> -->
      </ul>
      <hr class="visible-xs m-t">
    </div>
  </nav>
</div>
