<div class="page-Bottom2">
	<div class="container2">
		<div class="message-Box">
			<div class="message-Box-top">
			 	Your Messages
        <%= link_to "New Message", new_message_path, :remote => true %>
			</div>
			<div id="threads">
				<% @conversations.each do |other| %>
					<div class="message-thread">
						<div class="message-profile-image">
							<%# image_tag other.profile_picture_url %>
						</div>
						<div class="message-content-box">
							<div class="message-profile-name">
								<div class="message-time">
								</div>
								<div class="message-content">
									<%= link_to other.name, message_conversation_path(other.id), :remote => true %><br>
								</div>
							</div>
						</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
