<div class="page-Bottom2">
	<div class="container2">
		<div class="message-Box">
			<div class="message-Box-top">
			 	Your Messages
        <%= link_to "New Message", new_message_path, :remote => true %>
			</div>
			<div id="threads">
				<%= render :partial => "threads" %>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="messagesModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="content">
		</div>
  </div>
</div>
