<h1>Followed</h1>
<% @following.each do |f| %>
  <h3><%= f.following.name %></h3>
  <% f.following.tracks.each do |t| %>
    <%= t.song.original_filename %><br>
    <div class="track-thumbnail"><%= audio_tag t.song.url, controls: true %></div>
  <% end %>
<% end %>
