<% content_for :title, :flush => true do %>
  <h5><%= link_to retrack.track.owner.name, retrack.track.owner %> <div class="glyphicon glyphicon-refresh greenclass"></div>
      <%= retrack.reposter.name %>
    <small> · <%= time_ago_in_words retrack.track.created_at %> </small></h5>
<% end %>
<%= render :partial => "tracks/common", :locals => { :track => retrack.track } %>
