<% track.comments.reverse_each do |c| %>
  <% if !c.removed %>
    <div class="text-Post">
      <div class="media-body">
        <div class="media-body-text">
          <div class="media-heading">
            <% if c.owner == current_user %>
              <%= button_to comment_delete_path(c), :remote => true, :class => "player1-btn2", data: { confirm: 'Are you certain you want to delete this?' } do %>
                x
              <% end %>
            <% end %>
            <h5><%= link_to c.owner.name, c.owner, :class => "modalClosable" %></h5>
          </div>
          <%= simple_format c.content %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
