<div class="page-Bottom2">
<div class="centerCol">
  <div class="pin-show-title">
    <h1>

    </h1>
  </div>

  <div id="pin_show">
    <div class="rightCol-singleSong">
      <div class="song-Description">
          <div class="rightCol-profileAvi">
          </div>
          <div class="rightCol-profileName">
            <div class="profileName-Artist">
            Vday Beatz
            </div>
            <div class="profilename-location">
              Toronto
            </div>
            <div class="profilename-follow">
              Follow
            </div>
          </div>

          <div class="rightCol-Filter">
   
            Flow-Fi was founded in 2014 following a series of football tweets and an appreciation for whats good in Hip Hop.
          </div>


      </div>
    </div>

    <div class="leftCol">




<%= render :partial => '/tracks/track', :locals => { :track => @track } %>


    <div class="player1-Bottom">
      <div class="user-avi1">
      </div>
      <input class="player1-Bottom-Middle" placeholder="Comment">
        <div class="comment-btn">
      </input>
        </div>
    </div>






    <div class="player1-commentSection">
      <div class="rightCol-Filter-Title">
        <div class="rightCol-Filter-Title-Name">4 Comments</div>
      </div>
    
    <div class="comment1">
      <div class="user-avi">
        <img alt="Smiley face" height="40" src="https://i1.sndcdn.com/avatars-000157722791-4aqyc1-t500x500.jpg" width="40"/>
      </div>
      <div class="commentSection-name">
        <div class="comment-time">1 day ago</div>
        Vday Beatz
      </div>      
      <div class="commentSection-comment">
        Track is dope af.
      </div>
    </div>



    <div class="comment1">
      <div class="user-avi">
        <img alt="Smiley face" height="40" src="https://i1.sndcdn.com/avatars-000172193701-g3x3pk-t500x500.jpg" width="40"/>
      </div>
      <div class="commentSection-name">
        <div class="comment-time">2 days ago</div>
        Tory Lanez
      </div>      
      <div class="commentSection-comment">
        This song is trash, know your place fam.
      </div>
    </div>

    <div class="comment1">
      <div class="user-avi">
        <img alt="Smiley face" height="40" src="https://i1.sndcdn.com/artworks-000132536033-2ppedc-t500x500.jpg" width="40"/>
      </div>
      <div class="commentSection-name">
        <div class="comment-time">2 days ago</div>
        Dj Khaled
      </div>      
      <div class="commentSection-comment">
        Another 1. Bless Up. Major Key.
      </div>
    </div>

    <div class="comment1">
      <div class="user-avi">
        <img alt="Smiley face" height="40" src="https://i1.sndcdn.com/artworks-000124894703-jvaba9-t500x500.jpg" width="40"/>

      </div>
      <div class="commentSection-name">
        <div class="comment-time">1 week ago</div>
        Meek Mill
      </div>      
      <div class="commentSection-comment">
        You didn't even write this
      </div>
    </div>

  </div>
</div>
  </div>
</div>
</div>








