= render 'currentusertop'
-if signed_in?
	.container
		= render "layouts/pinsmasonry"
-else
	.homepage-header
		.homepage-header-title
			Sell Your Drumkits. 
			%br Receive Instant Payments.
		.homepage-header-subtitle
			The only place to sell your drumkits commission free.
		= link_to "Upload your kits", new_user_registration_path, class: "button btn primary-background gradient-background"
	

	= render "layouts/pinsmasonry"