= render 'currentusertop'
= render 'currentprofileheader'
.following-section
  .follow-box
    .follow-image
      %img{:height => "90px", :src => "https://i1.sndcdn.com/artworks-000120529796-6ynk73-t500x500.jpg", :width => "90px"}/
    .follow-coverpic
      %img{"background-size" => "contain",  :src => "https://i1.sndcdn.com/artworks-000114033096-u021b5-t500x500.jpg"}/
    .follow-name
      User Name
    .follow-button
      Follow
    .follow-info
      .follow-bio
        Music Producer | @everestmg Industry Quality | Affordable Prices || Email: everestmgteam@gmai.com
  .follow-box
    .follow-image
      %img{:height => "90px", :src => "https://i1.sndcdn.com/artworks-000120529796-6ynk73-t500x500.jpg", :width => "90px"}/
    .follow-coverpic
      %img{"background-size" => "contain", :src => "https://i1.sndcdn.com/artworks-000114033096-u021b5-t500x500.jpg"}/
    .follow-name
      User Name
    .follow-button
      Follow
    .follow-info
      .follow-bio
        Music Producer | @everestmg Industry Quality | Affordable Prices || Email: everestmgteam@gmai.com
  .follow-box2
    .follow-image
      %img{:height => "90px", :src => "https://pbs.twimg.com/profile_images/572989882789859329/K_-ePJdz_400x400.jpeg", :width => "90px"}/
    .follow-coverpic
      %img{:height => "99px", :src => "https://pbs.twimg.com/profile_banners/81396918/1425446487/1500x500", :width => "388px"}/
    .follow-name
      User Name
    .follow-button
      Follow
    .follow-info
      .follow-bio
        Music Producer | @everestmg Industry Quality | Affordable Prices || Email: everestmgteam@gmai.com
  .follow-box
    .follow-image
      %img{:height => "90px", :src => "https://i1.sndcdn.com/artworks-000120529796-6ynk73-t500x500.jpg", :width => "90px"}/
    .follow-coverpic
      %img{"background-size" => "contain",  :src => "https://i1.sndcdn.com/artworks-000114033096-u021b5-t500x500.jpg"}/
    .follow-name
      User Name
    .follow-button
      Follow
    .follow-info
      .follow-bio
        Music Producer | @everestmg Industry Quality | Affordable Prices || Email: everestmgteam@gmai.com
  .follow-box
    .follow-image
      %img{:height => "90px", :src => "https://i1.sndcdn.com/artworks-000120529796-6ynk73-t500x500.jpg", :width => "90px"}/
    .follow-coverpic
      %img{"background-size" => "contain", :src => "https://i1.sndcdn.com/artworks-000114033096-u021b5-t500x500.jpg"}/
    .follow-name
      User Name
    .follow-button
      Follow
    .follow-info
      .follow-bio
        Music Producer | @everestmg Industry Quality | Affordable Prices || Email: everestmgteam@gmai.com
  .follow-box2
    .follow-image
      %img{:height => "90px", :src => "https://pbs.twimg.com/profile_images/572989882789859329/K_-ePJdz_400x400.jpeg", :width => "90px"}/
    .follow-coverpic
      %img{:height => "99px", :src => "https://pbs.twimg.com/profile_banners/81396918/1425446487/1500x500", :width => "388px"}/
    .follow-name
      User Name
    .follow-button
      Follow
    .follow-info
      .follow-bio
        Music Producer | @everestmg Industry Quality | Affordable Prices || Email: everestmgteam@gmai.com