.topBanner

.statsBar
  .container2
    .user-picture
      / = image_tag @user.profile_picture
    .profile-pagename
      Vday Beatz
    .profile-location
      Toronto
    / Trigger the modal with a button
    %button.btn.btn-info.btn-lg.btn-primary.btn{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"} Join Clique
    / Modal
    #myModal.modal.fade{:role => "dialog"}
      .modal-dialog
        / Modal content
        .modal-content
          .modal-header
            %button.close{"data-dismiss" => "modal", :type => "button"} ×
            %h4.modal-title Join Vday's Clique
          .modal-body
            %p Some text in the modal.
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close


    .btn-hollow.btn
      + Follow
    .leftCol2
      .stats1
        %b 12 
        Posts
      .stats2
        %b 28 
        Following
      .stats2
        %b 2K 
        Followers 
      .stats2
        %b 3K 
        Favourites