<div id="audioplayer">
    <div class='abtn glyphicon buffer'></div>
    <div class='abtn glyphicon glyphicon-step-backward' id='prev'></div>
    <div class='abtn glyphicon glyphicon-play' id='playpause'></div>
    <div class='abtn glyphicon glyphicon-step-forward' id='next'></div>

    <div class='abtn glyphicon' id='status'>
        <div class='time' id='curTime'>0:00</div>
        <div id='progressBar'></div>
        <div class='time' id='totalTime'>0:00</div>
    </div>

    <div class='abtn glyphicon' id='desc'>
        <a id="ptrackLink" href="#">
            <img src="http://thatgrapejuice.net/wp-content/uploads/2013/02/asap-rocky-mr-porter-5-e1361908414323.jpg" width=30 height=30 />
        </a>
        <a id="pprofileLink" href="#">
            <h4>Artist Name</h4>
            <p>Song Name - that could be long</p>
        </a>
    </div>

    <div class="audioplayer-rightbtn">
    <!--<div class="player1-btn">
        <div class='glyphicon glyphicon-repeat' id='repeat'></div>
    </div>-->


    <div class="player1-btn">
        <div class='glyphicon glyphicon-volume-up' id='volumeBtn'>
            <div id="volumeBuffer">
                <div id='volume'></div>
            </div>
        </div>
    </div>


    <div class="player1-btn">
        <div class='glyphicon glyphicon-heart' id='heart'></div>
    </div>
</div>



</div>
