<div class="col-md-4">
  <div class="panel panel-default panel-profile">
    <div class="panel-heading"
         style="background-image: url(<%= artist.cover_picture_url %>);"></div>
    <div class="panel-body text-center">
      <img class="panel-profile-img" src="<%= artist.profile_picture_url %>">

      <h5 class="panel-title"><%= link_to artist.name, artist %></h5>
      <p class="m-b-md">Big belly rude boy, million dollar hustler. Unemployed.</p>

    </div>
  </div>
</div>