

<div class="page-Bottom2">
<div class="container2">

<div class="artist-Box">


<!-- Content -->


	  	<div class="newsfeed-title">
				<div class="newsfeed-title3">
					Explore
				</div>
		</div>


		<div class="newsfeed-subtitle">
			Discover new music and top artists
		</div>
	</div>
</div>

<div class="artist-Box2">
<div id="pins">


  <% @top.each do |t| %>
    <%= render :partial => 'artist_tile', :locals => { :artist => t } %>
  <% end %>
</div>
</div>
</div>
</div>
</div>
</div>