<div class="container p-t-md">
  <div class="col-md-6">
    <ul class="list-group media-list media-list-stream">
      <li class="media list-group-item p-a post-height">
        <%= render :partial => "users/partials/post_form"%>
      </li>
      <%= render :partial => @partial %>
    </ul>
  </div>
  <%= render "right_col" %>
</div>

<script>
  // execute/clear BS loaders for docs
  $(function(){
    if (window.BS&&window.BS.loader&&window.BS.loader.length) {
      while(BS.loader.length){(BS.loader.pop())()}
    }
  })
</script>
