<div class="container p-t-md">
  <div class="col-md-6">
    <ul class="list-group media-list media-list-stream">
      <li class="media list-group-item p-a">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Message">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </li>
      <%= render :partial => @partial %>
    </ul>
  </div>
  <%= render "right_col" %>
</div>

<script>
  // execute/clear BS loaders for docs
  $(function(){
    if (window.BS&&window.BS.loader&&window.BS.loader.length) {
      while(BS.loader.length){(BS.loader.pop())()}
    }
  })
</script>
