<div class="container p-t-md">
   
    <div class="col-md-6 p-t-md p-r-md">
    	<div class="panel panel-default m-b-md hidden-xs payment-panel">

			<div class="panel-body border-bottom-dotted no-pad pad-bottom">
				<div class="media-left">	
					<div class="media-object img-circle background"></div>
				</div>
				<div class="media-body">
					<div class="media-body-text">
						<h4 class="media-heading bold">Join Cliq</h4>
						<div>Monthly subscription
							
						</div>

					</div>
				</div>
			</div>








			<div class="panel-body no-pad pad-bottom">
    			<h5 class="payment-title"> Cliq Benefits </h5>
    			<div class="content">
					By joining my Cliq, you will have exclusive access to me in the studio! You will get to see how I create my songs and even have input. Each month I will be hosting a google hangout with my Cliq so you can have a chance to chat with me. </div>
			

			</div>
		</div>
	</div> 


	<div class="col-md-3 p-t-md">
		<div class="panel panel-default m-b-md hidden-xs">
			<div class="list-group m-b-md">


				<div class="list-group-item">

					<h5>Summary</h5>

					<div>Subscribe:
						<div class="pull-right">$5/month</div>
					</div>
				</div>
				<div class="list-group-item">
					<div class="right-Clique-Btn">Confirm and Subscribe</div>
				</div>




			</div>
		</div>

		<div class="paypal-box">
			<div class="check-circle">
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			</div>
			PayPal
			<div class="paypal-icon pull-right"></div>
		</div>

		<!--<div class="payment-icon-box">
			<div class="payment-icon4">
			</div>
			<div class="payment-icon3">
			</div>
			<div class="payment-icon2">
			</div>
			<div class="payment-icon1">
			</div>
		</div>-->



	</div> 

</div> 