<div class="panel-heading panel-heading-no-bottom">
  <div class="row" style="overflow: auto;">
    <%= button_to "Edit Clique", edit_clique_path, :remote => true, :method => :get, :class => "settings-tabs1" %>
    <%= button_to "Clique Members", clique_members_path, :remote => true, :method => :get, :class => "settings-tabs" %>
    <%= button_to "Clique Orders", clique_orders_path, :remote => true, :method => :get, :class => "settings-tabs" %>
  </div>
</div>
<div class="panel-body">
  <% clique.members.each do |m| %>
    <%= render :partial => 'home/artist_tile', :locals => { :artist => m } %>
  <% end %>
</div>
