<div class="panel-heading">
  <h2>Payment Settings</h2>
  <%= button_to "Payment Settings", payment_settings_path, :remote => true, :method => :get %>
  <% if !current_user.uid %>
    <%= button_to "Change Password", change_password_path, :remote => true, :method => :get %>
  <% end %>
</div>
<div class="panel-body">
</div>
