<div class="page-Bottom2">
	<div class="container2">
	  <h1>Settings</h1>
		<div class="col-md-8 col-md-offset-2">
		  <div class="row">
		    <div class="panel panel-default">
	  			<%= render :partial => "settings/payment_settings" %>
				</div>
			</div>
		</div>
	</div>
</div>
