<div class="page-Bottom2">
	<div class="container">
		<div class="col-md-8 col-md-offset-2 p-t-md">
		  <div class="row">
		    <div class="panel panel-default" id="content">
						<%= render :template => "passwords/edit", :locals => { :resource => current_user, :resource_name => "user" } %>
				</div>
			</div>
		</div>
	</div>
</div>
