<div class="page-Bottom2">
	<div class="container">
		<% if @clique.valid? %>
			<div class="col-md-8 col-md-offset-2 p-t-md">
		  	<div class="row">
		    	<div class="panel panel-default" id="content">
				    <%= render :partial => "edit_clique", :locals => { clique: @clique } %>
		  		</div>
				</div>
			</div>
		<% else %>
		  <%= render :partial => "create_clique", :locals => { clique: @clique } %>
		<% end %>
	</div>
</div>
