<div class="page-Bottom2">
	<div class="container">
		<div class="col-md-8 col-md-offset-2 p-t-md">
	  	<div class="row">
	    	<div class="panel panel-default">
          <div class="panel-heading panel-heading-no-bottom">
            <div class="row" style="overflow: auto;">
              <%= link_to "Edit Clique", clique_settings_path, :class => "settings-tabs" %>
              <%= link_to "Clique Members", clique_members_path, :class => "settings-tabs1" %>
            </div>
          </div>
          <div class="panel-body">
            <% @clique.subscriptions.each do |s| %>
              <%= render :partial => 'home/artist_tile', :locals => { :artist => s.subscriber } %>
            <% end %>
          </div>
	  		</div>
			</div>
		</div>
	</div>
</div>
