<div class="modal-post-commentBox">

  <% post.comments.each do |c| %>
    <div class="text-Post">
      <div class="text-userPic">
        <img src="<%= c.creator.profile_picture_url %>">
      </div>

      <div class="commentSection-name">
        <div class="comment-time"><%= time_ago_in_words c.created_at %></div>
        <%= link_to c.creator.name, c.creator %>
      </div>

        <div class="commentSection-comment">
          <%= c.content %>
        </div>
    </div>
  <% end %>
</div>

