<br><br><br>
<ul class="list-group">
  <% post.comments.each do |c| %>
    <li class="list-group-item">
      <div class="text-userPic">
        <img src="<%= c.creator.profile_picture_url %>">
      </div>
      <div class="text-profileName">
        <%= link_to c.creator.name, c.creator %>
      </div>
      <div class="text-Middle">
        <div class="text-text">
          <%= c.content %>
        </div>
      </div>
    </li>
  <% end %>
</u1>
