<% content_for :title, :flush => true do %>
  <h5><%= link_to post.owner.name, post.owner, :class => "over-comments-link" %><small> · <%= time_ago_in_words post.created_at %></small></h5>
<% end %>
<%= render :partial => "posts/common", :locals => { :post => post } %>
