<% content_for :title do %>
  <h5><%= link_to repost.post.poster.name, repost.post.poster %> <div class="glyphicon glyphicon-refresh greenclass"></div> <%= link_to repost.reposter.name, repost.reposter %>  <small> · <%= time_ago_in_words repost.post.created_at %></small></h5>
<% end %>
<%= render :partial => "posts/common", :locals => { :post => repost.post } %>
