<div class="container p-t-md">
  <div class="col-md-6 p-t-md p-r-md">
    <div class="panel panel-default m-b-md hidden-xs payment-panel">
			<div class="panel-body border-bottom-dotted no-pad pad-bottom">
				<div class="media-left">
          <%= image_tag @clique.owner.profile_picture_url, :class => "media-object img-circle background" %>
				</div>
				<div class="media-body">
					<div class="media-body-text">
						<h4 class="media-heading bold">Join <%= @clique.name %></h4>
						Monthly subscription
					</div>
				</div>
			</div>
			<div class="panel-body no-pad pad-bottom">
  			<h5 class="payment-title"> Cliq Benefits </h5>
  			<div class="content"><%= @clique.description %></div>
			</div>
		</div>
	</div>


	<div class="col-md-3 p-t-md">
		<div class="panel panel-default m-b-md hidden-xs">
			<div class="list-group m-b-md">
				<div class="list-group-item">
					<h5>Summary</h5>
					<div>Subscribe:
						<div class="pull-right">$5/month</div>
					</div>
				</div>
				<div class="list-group-item">
          <%= button_to cliq_join_path(@clique), :method => :post do %>
					  <div class="right-Clique-Btn">Confirm and Subscribe</div>
          <% end %>
				</div>
			</div>
		</div>

		<div class="paypal-box">
			<div class="check-circle">
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			</div>
			Stripe
			<div class="paypal-icon pull-right"></div>
		</div>
	</div>
</div>
