
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require_self
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";

$primary-color: #fe4641;
$border: #dce0e0;
$primary-hover: #A04444;
$fbhover: #374F86;
$fbblue: rgba(59, 89, 152,1);


/*----- Body -----*/

body{
  font-family: "Proxima Nova" ,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 14px;
}


html {
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}

html,body{

   margin:0;
   padding:0;
   padding-bottom: 10px;
 }

textarea{
  min-height: 0px !important;
  resize: none;
      overflow: hidden;
}

a {
  outline: 0 !important;;
}

a:visited {
  color: inherit !important;
}
a {
  color: inherit !important;
}

a:hover, a:focus{
  color: inherit !important;
  text-decoration: none !important;
  background-color: none;
}

textarea:focus, input:focus{
    outline: 0;
}

h2 {
  font-size: 18px;
}




/*----- Random Classes -----*/

.redclass{
  color: $primary-color !important;
  border-color: $primary-color !important;
}

.primary-background {
  background-color: $primary-color !important;
  color: white !important;
}

.floatRight{
  float:right;
}

/*----- Container -----*/

#flash-container {
  margin-top: 50px;
}

#pjax-container {
  height: auto;
  min-height: 100%;
  background: #F5F8FA;
}

.container2 {
  width: 885px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.container3 {
  width: 915px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.container4 {
  width: 627px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.audioplayer-container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.narrow-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/*----- Columns -----*/

.leftCol {
width: 588px;
display: inline-block;
height: auto;
float:left;
position: relative;
max-width: 100%;
}

.rightCol {
  width: 288px;
  position: relative;
  float: right;
  max-width: 100%;
}

/*----- Page Bottom  -----*/

.page-Bottom{
  width: 100%;
  display: inline-block;
  padding-bottom: 75px;
  background-color: #F5F8FA; 
  padding-top: 50px;
}

.page-Bottom2{
  width: 100%;
  display: inline-block;
  padding-bottom: 75px;
  padding-top: 70px;
  min-height: 700px;
  background-color: #F5F8FA;
}

.page-Bottom3{
  width: 100%;
  display: inline-block;
  padding-bottom: 100px;
  padding-top: 90px;
  min-height: 700px;
}


/*----- Buttons -----*/

.track-btn{
  width: 100px !important;
  float: left !important;
  margin-left: 0px !important;
  border: 0px !important;
  height: 34px !important;
  line-height: 34px !important;
  margin-top: 4px !important;
  max-width: 100%;
}

.follow-btn {
  background-color: #D7DADA;
  outline: none;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0px;
  &:visited {
    color: white;
  }
}

.btn {
  background-color: #D7DADA;
  outline: none;
  color: #333;
  font-size: 12px;
  font-weight: bold;
}

.btn:focus,.btn:active {
   outline: none !important;
}

.btn-default {
  border:none;
  color: #333;
  &:visited{
    color: #333;
  }
}

.signbtn{
    margin: 0 auto !important;
    display: table !important;
    float: none !important;
}

.right-Clique-Btn{
  width:100%;
  height:40px;
  background-color: $primary-color;
  color: white;
  margin-top: 10px;
  border-radius: 3px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}

.btn-hollow.btn{
  height:38px;
  line-height: 33px;
  width:140px;
  color: #888;
  float:right;
  border: 1px solid;
  border-radius: 3px;
  text-align: center;
  margin-top: 12.5px;
  font-weight: bold;
  font-size: 12px;
  border-color: #d1d1d1;
  padding: 0px;
  margin-left: 10px;
  background-color: white;
  margin-bottom: 0px;
}

.btn-primary.btn{
  height:38px;
  line-height: 38px;
  width:150px;
  color: white !important;
  float:right;
  border: none;
  border-radius: 3px;
  text-align: center;
  margin-top: 12.5px;
  font-weight: bold;
  font-size: 12px;
  background-color: $primary-color;
  padding: 0px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.btn-primary.btn:hover{
  background-color: $primary-hover;
  border-color: none;
  color: #fff;

}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus{
  border-color: #e00007 !important;
  background-color: #e00007 !important;
}

.btn-primary.btn:focus{
  border-color: #e00007 !important;
  background-color: #e00007 !important;
}

.btn-login.btn{
  height:34px;
  line-height: 33px;
  width:100px;
  color: white !important;
  float:right;
  border: 1px solid;
  border-radius: 3px;
  text-align: center;
  margin-top: 6px;
  font-weight: bold;
  font-size: 12px;
  background-color: $primary-color;
  border-color: $primary-color;
  padding: 0px;
  margin-left: 10px;
}

.btn-login.btn:hover{
  background-color: #ff7e82 !important;
  border-color: #ff7e82 !important;
  color: #fff;
}

.btn-login:active:hover, .btn-login:active:focus, .btn-login:active.focus, .btn-login.active:hover, .btn-login.active:focus, .btn-primary.active.focus, .open > .btn-login.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus{
  border-color: #e00007 !important;
  background-color: #e00007 !important;
}

.btn-login.btn:focus{
  border-color: #e00007 !important;
  background-color: #e00007 !important;
}

.player1-right-btn{
  float:left;
  display: inline-block;
  height:25px;
  margin-top: 12px;
  margin-left: 49px;
}

.player1-btn{
  border: 1px solid #d1d1d1;
  height: 25px;
  width: 27px;
  margin-left: 5px;
  float: right;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  line-height: 27px;
  border: 1px solid #d1d1d1;
}

.player1-btn:hover{
  color: $primary-color;
  cursor: pointer;
  border: 1px solid $primary-color;
    .glyphicon{
    color: $primary-color !important;
  }
}

.player1-btn2{
  border: 1px solid #d1d1d1;
  width: 27px;
  padding: 0px 5px;
  height: 25px;
  margin-left: 5px;
  float: right;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  line-height: 27px;
  color: #A5A5A5;
  background: transparent;
input[type=submit]{
  border: 0px;
  padding: 0px;
  font-size: 12px;
  min-width: 0px;
  margin: 0px;
  height: 25px;
}
}

.player1-btn2:hover{
  color: $primary-color;
  cursor: pointer;
    .glyphicon{
    color: $primary-color;
  }
}

/*----- Nav Bar -----*/

.navbar-form{
  float: left;
  .input-group{
    padding: 0px;
      .form-control{
  width: 558px !important;
  background-color: #F6F6F6 !important;
  border-color: #E5E5E5 !important;
  box-shadow: none;
  color: #999;
}

  .input-group-btn{
    .btn-default{
      height:34px;
      background-color: #F6F6F6;
      color: #888;
      border-top: 1px solid #E5E5E5;
      border-right: 1px solid #E5E5E5;
      border-bottom: 1px solid #E5E5E5;
      border-left: none;
    }
  }
  }
}

.input-group-btn{
  height:100%;
  padding: 0px;
}

.navbar-default{
  background-color: white !important;
  border: 0px;
  width: 100%;
  margin-bottom: 50px !important;
  border-color: #e7e7e7!important;
  box-shadow: none;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

.navbar-nav>li>a{
    color: #333f48;
    font-weight: 500;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 32px;
  &:hover{
    color: #222;
    outline: -webkit-focus-ring-color auto 5px;
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
      outline-width: 5px;
  }
}

.navbar-fixed-top{
  .container {
    width: 940px;
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    margin-top: 0px;
    display: block;
  }
  .navbar-brand {
        padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    float: none;
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-left: -75px;
    padding-left: 0px;
    font-weight: 600;
    a {
      color: $primary-color;
      background: $primary-color;
      font-weight: bold;
        -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      &:hover {
        text-decoration: none;
        background-color: none;
          margin: 0 auto;
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    -webkit-font-smoothing: antialiased;
      }
    }
  }
}

.nav > li > a:hover, .nav > li > a:focus{
  background-color: white;
}

.login-btn {
  color: white !important;
  font-size: 13px;
}

.navbar-front{
  height: 50px !important;
  background-color: transparent !important;
  border: none !important;
  border-radius: 0px;
  color: white;
  position: absolute;
  box-shadow: none;
  .navbar-nav > li > a{
  color: white;
  }
}

.logo {
  margin-top: 7px;
  width: 26px;
  height: 35px;
  background-image: url('https://dl.dropbox.com/s/lps6gyz0j0t3gju/Clique%20Logo.png?dl=0');
  left: 50%;
  position: absolute;
  background-size: 100%;
  margin-left: -18px;
}

.nav-margin{
  margin-left: -7px !important;
}

.nav-margin-right{
  margin-right: -1px !important;
}

.nav-pic{
  width: 32px;
  height: 32px;
  overflow: hidden;
  float: left;
  margin-left: 10px;
  border-radius: 3px;
  margin-top: 10px;
  justify-content:center;
  align-items:center;
  img{
        flex-shrink:0;
    min-width:100%;
    min-height:100%;
    height: 100%;
  }
}

.searchbar{
  width: 250px;
  border-radius: 3px;
  border: 1px solid #dce0e0;
  height: 32px;
  float: left;
  margin-top: 9px;
  background-color: #f5f8fa;
}

.logo-square{
  width: 32px;
  height:32px;
  background-color: $primary-color;
  float: left;
  margin-top: 9px;
  border-radius: 3px;
}

/*--- Homepage Header ----*/

.homepage-header {
  width: 100%;
  height: 400px;
  background-color: #262626;
  background-size: cover;
  background-position: center top;
  z-index: -1;
  overflow:auto;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://scontent-lga3-1.cdninstagram.com/hphotos-xpf1/t51.2885-15/e35/11356567_1495676364069721_1859839623_n.jpg);
  background-attachment: fixed;
.btn {
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 35px;
  color: white;
    border: 1px solid transparent;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    border: 1px solid transparent;
    background-color: #d14836;
    &:hover{
    outline: rgba(0,0,0,0) 0;
    background-color: #c53727;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#c53727));
    background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
    background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
    background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
    background-image: -o-linear-gradient(top,#dd4b39,#c53727);
    background-image: linear-gradient(top,#dd4b39,#c53727);
    border: 1px solid #b0281a;
    border-bottom: 1px solid #af301f;
    }
}
a:visited{
  color:white !important;
}
}

.homepage-header-title {
  font-weight: 700;
  font-size: 34px;
  color: white;
  z-index: 10;
  margin-top: 116px;
  margin-left: auto;
  margin-right: auto;
  opacity: 1 !important;
  letter-spacing: -1px;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  -webkit-font-smoothing:antialiased;
}

.homepage-header-subtitle {
  color: white;
  font-size: 20px;
  margin-top: 20px;
}

.home-Subtitle{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  margin-bottom: 20px;
  color: #999;
}

/*--- Artist Box ----*/

.artist-Box2{
  width: 885px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: -10px;
}

.artist-Box3{
  width: 885px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.artist-Tile{
  float: left;
  position: relative;
  height: 265px;
  border: 1px solid #dce0e0;
  border-radius: 3px;
}

.panel-Top{
  height: 200px;
  position: relative;
}

.panel-Cover{
  background-position: center; 
  height: 200px;
  overflow: hidden;
  position: absolute;
  width: 286px;
  border-radius: 5px 5px 0px 0px;
  img{
  height:100% !important;
  width:auto !important;
  }
}

.panel-Bottom{
  position: absolute;
  width: 100%;
  height: 65px;
  background-color: white;
  bottom: 0;
  border-radius: 0px 0px 5px 5px;
}

.panel-ProfilePic{
  width:36px;
  height:36px;
  border-radius: 50%;
  background-size: cover; 
  overflow: hidden;
  position: absolute; 
  z-index: 200;
  bottom: 0;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    margin-bottom: 16px;
    margin-left: 20px;
    img{
    flex-shrink:0;
    max-width:100%;
    min-height:100%;
    height: 100%;
  } 
}

.panel-Info{
  float:left;
  margin-left: 14px;
  position: absolute;
  bottom: 0;
  margin-bottom: 17px;
  margin-left: 70px;
  z-index: 20;
  font-size: 13px;
  width: 220px;
  padding-right: 20px;
}

.panel-Info-left{
  display: inline-block;
  float:left;
}

.panel-Info-Name{
  width:130px;
  height: 18px;
  overflow: hidden;
  display: absolute;
  z-index: 20;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.panel-Info-Clique{
  width: 130px;
  color: #A5A5A5;
}

.panel-follow-btn{
  width: 70px;
  height: 30px;
  float:right;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  line-height: 30px;
}

/*--- Login Page / Sign Up Page  ----*/

.loginform {
    margin: 0 auto;
    width: 450px;
    background-clip: padding-box;
    background-color: #FFF;
    border-radius: 5px !important;
    border: none !important;
}

.fbc{
  background: $fbblue;
  color: white;
  padding: 15px 50px !important;
  &:hover{
    background: $fbhover;
  }
}

  .panel-heading {
    max-height:465px;
    overflow: hidden;
    border: 0px;
    .cwf{
      font-size: 16px;
        font-weight: 600;
        margin-left: 10px;
    }
    h2{
      font-size: 20px !important;
      text-align: center;
        -webkit-font-smoothing: antialiased;
        color: #848F94;
    }
    .fa{
      vertical-align: middle;
    }
  }

.tva{
  display: inline-block;
  vertical-align: middle;
}

.panel-body {
    padding: 20px 50px 35px 50px !important;
}

/*--- Newsfeed  ----*/

/*--- Newsfeed Right Column ----*/

.rightCol-Index{
  float:right;
  width:288px;
}

.rightCol-Filter{
  width: 100%;
  float: right;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #dce0e0;
  padding: 20px 20px 12px 20px;
}

.rightCol-Filter-Title{
  width: 100%;
  height: 30px;
  border-bottom: 1px solid $border;
  margin-bottom: 20px;
}

.rightCol-Filter-Title-Name{
  float: left;
  font-size: 14px;
  color: #999;
  height: 30px;
  font-weight: 500;
}

.rightCol-Filter-Title-Name2{
  float: left;
  font-size: 14px;
  color: #999;
  height: 30px;
}

.rightCol-Filter-Title-Stat{
  float: right;
  color: #999;
  font-size: 14px;
}

.rightCol-Filter-Title-Stat:hover{
  color: #333;
}

.rightCol-Filter-Profile{
  width: 100%;
  height: 46px;
  margin-bottom: 12px;
  font-size: 14px;
}

.rightCol-Followers{
  width:140px;
  height:15px;
  font-size: 12px;
  margin-top: 5px;
  color: #999;
  overflow:hidden;
  .fa{
    font-size: 12px;
  }
}

.rightCol-Profile-Avi{
  float:left;
  margin-right: 10px;
  img{
    border-radius: 50%;
  }
}

.rightCol-Profile-Avi:hover{
  cursor: pointer;
}

.rightCol-Filter-seeMore{
  width:100%;
  height:26px;
  border: 1px solid $border;
  text-align: center;
  line-height: 26px;
  border-radius: 3px;
  color: #999;
  background-color: $border;
}

.rightCol-Filter-seeMore:hover{
  color: #333;
  cursor: pointer;
}

.rightCol-Profile-Follow{
  float:right;
  width: 70px;
  height:22px;
  border: 1px solid $border;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  line-height: 21px;
  color: #999;
}

.rightCol-Profile-Follow:hover{
  border: 1px solid $primary-color;
  color: $primary-color;
  cursor: pointer;
}

.rightCol-Profile-Following{
  float:right;
  width: 70px;
  height:22px;
  border: 1px solid $primary-color;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  line-height: 21px;
  color: $primary-color;
}

.rightCol-Profile-Following:hover{
  border: 1px solid $primary-color;
  color: $primary-color;
  cursor: pointer;
}


.rightCol-Profile-Bar{
  width:100px;
  height:100%;
  float: left;
}

.rightCol-Profile-Name{
  width:130px;
  height:17px;
  margin-top: -3px;
  overflow: hidden;
  font-weight: 500;
}

.rightCol-Profile-Name:hover{
  cursor: pointer;
  color: #333;
}

.rightCol-songname{
  width:120px;
  height:15px;
  margin-top: 1px;
  color: #999;
  overflow:hidden;
  .fa{
    font-size: 12px;
  } 
}

.rightCol-footer{
  color: #999;
  font-size: 12px;
}

.rightCol-Clique-Title{
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
  font-weight: 500;
}

.text-userPic2{
  width: 36px;
  height:36px;
  border-radius: 50%;
  float: left;
  overflow: hidden;
      justify-content:center;
    align-items:center;
    overflow:hidden;

  img{
    border-radius: 3px;
    flex-shrink:0;
    min-width:100%;
    min-height:100%;
    height: 100%;
  }
}


/*--- Newsfeed Left Column ----*/

/*--- Newsfeed Title ----*/

.newsfeed-title a {
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

.newsfeed-title{
  width: 100%;
  height: 50px;
  background-color: white;
  border-top: 1px solid #dce0e0;
  border-left: 1px solid #dce0e0;
  border-right: 1px solid #dce0e0;
  border-radius: 5px 5px 0px 0px;
  padding-left: 20px;
}

.newsfeed-active{
  color: $primary-color;
  font-weight: 500;
}

.newsfeed-title1{
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  float: left;
  font-weight: 500;
}

.newsfeed-title2{
  margin-left: 20px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  float: left;
  font-weight: 500;
}

.newsfeed-title3{
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  float: left;
  color: $primary-color;
  border-bottom: 1px solid $primary-color;
  font-weight: 500;
}

.newsfeed-subtitle{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  margin-bottom: 20px;
  color: #999;
  -webkit-font-smoothing: antialiased;
}

.newsfeed-title2:hover{
  color: $primary-color;
}

/*--- Text Post ----*/

.textpost-Box{
  border:1px solid #dce0e0;
  margin-top: -1px;
  width: 100%;
  min-height: 50px;
  display: inline-block;
  background: white;
}

.textpost{
  width:100%;
  padding: 12px 20px 12px 20px;
  display: inline-block;
  background-color: white;
  border-radius: 5px;
}

.textpost:hover{
  background-color: #F5F8FA;
  cursor: pointer;
}

.text-Post{
  width: 100%;
  display: inline-block;
}

.text-userPic{
  width: 44px;
  height:44px;
  border-radius: 3px;
  float: left;
  overflow: hidden;
      justify-content:center;
    align-items:center;
    overflow:hidden;
  img{
    border-radius: 3px;
    flex-shrink:0;
    min-width:100%;
    min-height:100%;
    height: 100%;
  }
}

.commentSection-name{
  height: 16px;
  margin-top: -3px;
  font-weight: 500;
  float: left;
  padding-left: 10px;
  margin-right:4px;
}

.comment-time{
  float:right;
  text-align: right;
  width: 200px;
  height:100%;
  font-size: 12px;
  color: #999;
}

.player1-time{
  float: left;
  color: #999;
  margin-top: -3px;
}

.post-Content{
  width:502px;
  display: inline-block;
  float: left;
  padding-left: 10px;
}

.post-track{
  width: 100%;
  height: 100px;
  border-radius: 5px; 
  overflow: hidden;
  margin-top: 4px;
  border: 1px solid $border;

  img{
  width: 100%;
  height: auto;
  }
}


.post-track.expand-post-track{
  height:300px;
}

.player1-Name{
  margin-top: 12px;
  height: 68px;
  width: 30px;
  float:left;
  z-index: 10;
  position: absolute;
  padding-top: 2px;
  font-size: 13px;
  line-height: 20px;
  margin-left: 10px;
}

.player1-play{
  width:25px;
  height:25px;
  margin-bottom: 7px;
  margin-left: 2px;
}

.play-Btn{
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: $primary-color;
  text-align: center;
  line-height: 28px;
  color: white;
  font-size: 10px;
  .glyphicon{
    margin-left: 2px;
    color: white !important;
  }
}

.player1-left-btn{
  float:left;
  position: absolute;
  margin-left: 46px;
  padding-left:5px;
  padding-right: 20px;
  margin-top: 10px;;
}

.player1-left-btn2{
  float:left;
  position: absolute;
  margin-left: 46px;
  padding-left:5px;
  padding-right: 20px;
  margin-top: 30px;;
}

.player1-artist{
  background: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  color: white; 
  padding: 0px 5px 0px 5px;
  display: inline-block;
}

.player1-artist:hover{
  cursor: pointer;
}

.player1-songName{
  background: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  margin-top: -2px;
  color: white;
  display: inline-block;
  padding: 0px 5px 0px 5px;
}

.player1-songName:hover{
  cursor: pointer;
}


/*--- Profile Page Banner ----*/


.topBanner {
width: 100%;
height: 350px;
background: black;
z-index: 1;
background-size: cover;
margin-top: 50px;
overflow: hidden;
position: relative;
}

.profile-Banner{
  width:100%;
  height: 350px;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  background-size: cover;
  background-position: center;
}

.banner-Overlay{
  height:220px;
  width:100%;
  position: absolute;
  background: linear-gradient(to bottom, rgba(18, 18, 18, 0) 0%, rgba(18, 18, 18, 1.0) 100%);
  z-index: 10;
  bottom: 0;
}

.user-picture {
  margin-top:80px;
  background-image: url(https://i1.sndcdn.com/avatars-000186622640-isz41l-t500x500.jpg);
  width: 110px;
  height: 110px;
  float:left;
  position: absolute;
  overflow: hidden;
  z-index: 10;
  background-size: contain;
  border-radius: 50%;
  left: 50%;
  margin-left: -55px;
  background-position: center;
  border: 3px solid white;
    img {
      width: auto;
      height:110px;
    }
}

.profile-pagename {
  font-size: 24px;
  color: white;
  margin-top:200px;
  position: absolute;
  text-shadow: 0 1px 4px rgba(0, 0, 0, .8);
  text-align: center;
  width:100%;
  z-index: 10;
}


.profile-Bio {
  font-size: 16px;
  color: white;
  margin-top:240px;
  position: absolute;
  text-shadow: 0 1px 4px rgba(0, 0, 0, .8);
  text-align: center;
  width:100%;
  z-index: 10;
  width: 400px;
  left: 50%;
  margin-left: -200px;
}

.statsBar {
  height: 63px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-bottom: 1px solid #E1E3ED;
  border-top: 1px solid #E1E3ED;
  font-weight: 500;
}

/*--- Profile Page Stats Bar ----*/


.stats1{
  display:inline-block;
  height: 62px;
  float:left;
  margin: 0px 15px 0px 0px;
  text-align: center;
  line-height: 64px;
  font-size: 16px;
}

.stats-active{
  border-bottom: 1px solid $primary-color;
  color: $primary-color;

}

.stats1:hover{
  border-bottom: 1px solid $primary-color;
  color: $primary-color;
  cursor: pointer;
}

.stats2{
  display:inline-block;
  height: 62px;
  float:left;
  margin: 0px 15px 0px 15px;
  text-align: center;
  line-height: 64px;
  font-size: 16px;
  cursor: pointer;
}

.stats2:hover{
  border-bottom: 1px solid $primary-color;
  color: $primary-color;
  cursor: pointer;

}


/*--- Profile Page Bottom ---*/

/*--- Profile Page Post Box ---*/


.post-Box{
  width:100%;
  padding: 20px;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid  #dce0e0;
  background-color: white;
  margin-bottom: 5px;
}

.post-Input{
  width: 100%;
  min-height: 40px;
  display: inline-block;
  float:left;
  border-radius: 3px;
  border: 1px solid #dce0e0;
  background-color: #F6F6F6 !important;
  margin-bottom: 10px;
  padding:10px;
}

.no-post{
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 24px;
}

.no-post-img{
  background-image: url('https://static.xx.fbcdn.net/rsrc.php/v2/yX/r/yDHWjtlL3ff.png');
  width: 136px;
  height: 136px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.no-post-btn{
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  float: none !important;
  margin-left: 0px !important;
  margin-bottom: 100px !important;
}



.post-Btn{
  float: right !important;
    width: 80px !important;
    min-width: 40px !important;
    height: 32px !important;
    border-radius: 3px !important;
    background-color: #fe4641 !important;
    margin-left: 0px !important;
    border: 0px !important;
    color: white;
    margin-bottom: 0px !important;
    font-size: 12px !important;
    font-weight: bold;
}

.cliq-pb{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    padding-left: 0px;
}
/*--- Profile Page Right Column ---*/

.rightBlock {
border-radius: 3px;
position: relative;
padding-bottom: 15px;
width: 100%;
float:right;
background-color: white;
border-radius: 3px;
padding: 20px;
border: 1px solid #dce0e0;
margin-bottom: 10px
}

.rightBlock-Top{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.rightBlock-Body{
  width: 100%;
  border-radius: 3px;
}


.rightBlock-Body-Title{
  font-weight:bold;
  font-size: 14px;
  margin-bottom: 8px;
}

.right-Stats{
  height: 45px;
  width: 100%;
  color: #999;
  text-align: center;
}

.right-Stat1{
  height: 100%;
  width:71px;
  border-right: 1px solid #dce0e0;
  float: left;
}

.right-Stat2{
  height: 100%;
  width:89px;
  float: left;
  border-right: 1px solid #dce0e0;

}


.right-Stat3{
  height: 100%;
  width:83px;
  float: left;

}

.right-Stat-Bottom{
  font-size: 24px;
}


/*--- Track Modal  ---*/

.modal-dialog{
  width: 588px !important;
}

.modal-track-Top{
  width: 100%;
  height: 180px;
  border-radius: 6px 6px 0px 0px;
}

.model-track-background{
  width: 100%;
  height: 180px;
  z-index: 1;
  position: absolute;
  overflow: hidden;
      border-radius: 6px 6px 0px 0px;
        img {
      width: 100%;
      margin-top: -50px;
      border-radius: 6px 6px 0px 0px;
    }
}

.modal-track-Genre{
  padding: 0px 10px;
  line-height: 20px;
  color: #E1E3ED;
  font-size: 12px;
  height:20px;
  background-color: #565a5c;
  border-radius: 3px;
  margin-top: 20px;
  z-index: 10;
  position: absolute;
  right: 0;
  margin-right: 20px; 
}


.player1-artist2{
  font-weight: 500;
  padding: 0px 5px 0px 5px;
}

.player1-artist2:hover{
  cursor: pointer;
}

.player1-songName2{
  font-size: 14px;
  margin-top: -2px;
  padding: 0px 5px 0px 5px;
}

.player1-songName2:hover{
  cursor: pointer;
}


.commentSection-name2{
  height: 16px;
  margin-top: -3px;
  font-weight: 500;
  float: left;
  padding-left: 10px;
  margin-right:4px;
  width: 498px;
}

.commentSection-comment{
  width:502px;
  height:20px;
  font-size: 14px;
  float: right;
  padding-left: 10px;
}










































.scrollbar-measure {
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}





 #navbar{
   width:100%;
   height:50px;
   border-bottom: 1px #ccc solid;
   color:#777;
 }
 #navbar p{
   display: inline-block;
   font:26px/0px sans-serif;
   margin:26px 0 !important;
 }
#navbar #links{
  display:inline-block;
  float:right;
  margin-top:17.5px;
}
#navbar a{
   color: inherit;
   text-decoration: none;
   outline:none;
}
#navbar a{
   margin-right:25px;
 }

input[type=password],input[type=text],input[type=email], label{
  font-size:16px;
  margin-top: 8px;
  margin-bottom: 0px;
}

input[type=checkbox]{
  margin-top:22px;
  float:left;
}

input[type=submit]{
   float:left;
   margin-left:50px;
   background:none;
 }


#remember-me{
  clear:left;
  width:125px;
  display: inline-block;
}

#signin #loginbutton{
  clear:both;
    padding-top: 5px;
    height: 35px;
    margin-bottom: 20px;
  }

#signin #forgotbutton{
    clear:left;
}

 #home a, #signin a, #signin button{
    float:left;
    margin-left:50px;
    margin-bottom: 50px;
    background:none;
    border:1px solid #777;
    border-radius:10px;
    min-width:100px;
    padding-top: 3.5px;
    padding-left:5px;
    padding-right:5px;
    height:25px;
    font:16px/16px sans-serif;
    font-size: 15px;
    color: inherit;
    text-decoration: none;
    text-align: center;
  }

 .ownerlink{
    width: auto !important;
    height: auto !important;
    padding: 0px !important;
    border: none !important;
    margin: 2px 0px 2px 15px !important;
    text-decoration: underline !important;
  }

.sm2-bar-ui {
 font-size: 16px;
 box-shadow: 0px -1px 1px #ddd;
}
.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
 background-color: #F6F6F6;
}
.sm2-bar-ui .sm2-inline-texture {
 background: transparent;
}

body.modal-open{
    width:100%!important;
    overflow: hidden;
    position:fixed!important;
}


/* unset bs3 setting */
.modal-open {
 overflow: auto;
}


.dropdown-menu{
text-align: left;
border: 0px;
margin: 0px;
height:auto;
margin-bottom: 10px;
border-top-left-radius: 0;
border-top-right-radius: 0;
border: 1px solid #cfd4db;
border-top: none;
padding: 0;
-webkit-box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.05);
box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.05);
.menu-item{
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  color: #888;
  display: block;
  line-height: 1;
  margin: 0;
  padding: 8px 0 8px 20px!important;
  position: relative;
  width: 170px;
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  &:hover{
      background: rgba(0,0,0,.05);
      color: rgba(0,0,0,.8);
      z-index: 13;

      color: #222;
    }
  }
}



.cdivider{
  border-top: 1px solid rgba(0,0,0,.05);
  height: 0;
  margin: 5px 0;
}


.big-field {
    padding-left: 14px;
    padding-right: 14px;
    border: solid 1px #dddddd;
    display: inline-block;
    -webkit-border-radius:5px;
    border-radius: 5px;
    background-clip: padding-box;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    min-height: 40px;
}

.form-control{
  padding: 20px 20px;
}

 .navbar-brand {
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    float: none;
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}


@media(max-width: 768px){
  .navbar-front{
    background-color: #fff !important;
    border-bottom: #e1e3ef 1px solid !important;
    color: #333 !important;
    height: auto !important;
    position: static;
    margin: 0px !important;
    position: fixed;

    .navbar-brand{
      display: none;
    }
  }
  .navbar-nav>li>a{
    margin-left: 1%;
    width: 48%;
    float: left;
    margin-right: 1%;
    border: 1px solid #e1e3ef;
    text-align: center;
    border-radius: 2px;
    color: #fe4641 !important;
    text-transform: UPPERCASE;
    font-family: "Open Sans", Proxima Nova, Helvetica Neue, Helvetica, Arial;
    text-shadow: none !important;
    font-size: 0.75em !important;
    letter-spacing: 1px;
    padding: 0px 20px 0px 20px !important;
    line-height: 40px;
    font-weight: 600 !important;
    height: 40px;
    vertical-align: middle;
    &:hover{
      background-color:#DCDCDC !important;
    }
  }
  .homepage-header{
  .btn{
    background-color: white !important;
    color: #fe4641 !important;
    text-transform: UPPERCASE;
    font-family: "Open Sans", Proxima Nova, Helvetica Neue, Helvetica, Arial;
    text-shadow: none !important;
    font-size: 0.75em !important;
    letter-spacing: 1px;
    padding: 0px 20px 0px 20px !important;
    line-height: 40px;
    font-weight: 600 !important;
    height: 40px;
    vertical-align: middle;
    &:active{
      background-image: none;
      border: none;
    }
   } 
  }


  .homepage-header-title {
    font-weight: 300;
    font-size: 25px;
  }


}
