
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require_self
 */

$primary-color: #e64759;
$primary-color-light: #FC6C68;
$border: #dce0e0;
$fbhover: #374F86;
$fbblue: rgba(59, 89, 152,1);
$dope-gray: #C6C7C7;
$dark-primary: #F7403B;

.comments-link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.over-comments-link {
  position: relative;
  z-index: 3;
}

.img-size{
  width: 50px;
  height: 50px;
}

.redclass{
  color: $primary-color !important;
  border-color: $primary-color !important;
}

.greenclass{
  color: #1bc98e;
}




*:focus{
  outline: none;
}


textarea:focus{
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}



.track-progress-box{
  width: 100%;
  bottom: 0;
  height: 3px;
  z-index: 100;
  position: absolute;
  margin-bottom: 35px;
}

.track-progress{
  width: 77%;
  margin-left:auto;
  margin-right:auto;
  height: 3px;
  background: black;
  border-radius: 5px;
}


.post-modal{
  cursor: pointer;

}

.post-modal:hover{
  background-color: #F5F8FA;
}



/*--- Homepage Header ----*/

.homepage-header {
  width: 100%;
  height: 400px;
  background-color: #262626;
  background-size: cover;
  background-position: center top;
  z-index: -1;
  overflow:auto;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://scontent-lga3-1.cdninstagram.com/hphotos-xpf1/t51.2885-15/e35/11356567_1495676364069721_1859839623_n.jpg);
  background-attachment: fixed;
.btn {
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 35px;
  color: white;
    border: 1px solid transparent;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    border: 1px solid transparent;
    background-color: #d14836;
    &:active{
    outline: rgba(0,0,0,0) 0;
    background-color: #c53727;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#c53727));
    background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
    background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
    background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
    background-image: -o-linear-gradient(top,#dd4b39,#c53727);
    background-image: linear-gradient(top,#dd4b39,#c53727);
    border: 1px solid #b0281a;
    border-bottom: 1px solid #af301f;
    }
}
a:visited{
  color:white !important;
}
}

.homepage-header-title {
  font-weight: 700;
  font-size: 34px;
  color: white;
  z-index: 10;
  margin-top: 116px;
  margin-left: auto;
  margin-right: auto;
  opacity: 1 !important;
  letter-spacing: -1px;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  -webkit-font-smoothing:antialiased;
}

.homepage-header-subtitle {
  color: white;
  font-size: 20px;
  margin-top: 20px;
}

.home-Subtitle{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  margin-bottom: 20px;
  color: #999;
  padding-left: 5px;
}



.modal-time-ago-text{
  float: right;
}

.floatleft{
  float: left;
}




/*--- Profile Page Banner ----*/


.topBanner {
width: 100%;
height: 350px;
background: black;
z-index: 1;
background-size: cover;
overflow: hidden;
position: relative;
}

.profile-Banner{
  width:100%;
  height: 350px;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-color: #232937 !important;
}

.banner-Overlay{
  height:220px;
  width:100%;
  position: absolute;
  background: linear-gradient(to bottom, rgba(18, 18, 18, 0) 0%, rgba(18, 18, 18, 1.0) 100%);
  z-index: 10;
  bottom: 0;
}

.user-picture {
  margin-top:80px;
  background-image: url(https://i1.sndcdn.com/avatars-000186622640-isz41l-t500x500.jpg);
  width: 110px;
  height: 110px;
  float:left;
  position: absolute;
  overflow: hidden;
  z-index: 10;
  background-size: contain;
  border-radius: 50%;
  left: 50%;
  margin-left: -55px;
  background-position: center;
  border: 3px solid white;
    img {
      width: auto;
      height:110px;
    }
}

.profile-pagename {
  font-size: 24px;
  color: white;
  margin-top:200px;
  position: absolute;
  text-shadow: 0 1px 4px rgba(0, 0, 0, .8);
  text-align: center;
  width:100%;
  z-index: 10;
}


.profile-Bio {
  font-size: 16px;
  color: white;
  margin-top:240px;
  position: absolute;
  text-shadow: 0 1px 4px rgba(0, 0, 0, .8);
  text-align: center;
  width:100%;
  z-index: 10;
  width: 400px;
  left: 50%;
  margin-left: -200px;
}

.statsBar {
  height: 63px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-bottom: 1px solid #d3e0e9;
  border-top: 1px solid #d3e0e9;
  font-weight: 500;
}

/*--- Profile Page Stats Bar ----*/


#buttons{
  padding-left: 5px;
}


.stats1{
  display:inline-block;
  height: 62px;
  float:left;
  margin: 0px 15px 0px 0px;
  text-align: center;
  line-height: 64px;
  font-size: 16px;
}

.stats-active{
  border-bottom: 1px solid $primary-color;
  color: $primary-color;

}

.stats1:hover{
  border-bottom: 1px solid $primary-color;
  color: $primary-color;
  cursor: pointer;
}

.stats2{
  display:inline-block;
  height: 62px;
  float:left;
  margin: 0px 15px 0px 15px;
  text-align: center;
  line-height: 64px;
  font-size: 16px;
  cursor: pointer;
}

.stats2:hover{
  border-bottom: 1px solid $primary-color;
  color: $primary-color;
  cursor: pointer;

}


.profile-bottom{
  width: 100%;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 75px;
}





/*--- Profile Page Post Box ---*/



.post-height{
  min-height:145px;
}



.post-Box{
  width:100%;
  padding: 20px;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid  #dce0e0;
  background-color: white;
  margin-bottom: 5px;
}

.post-Input{
  width: 100%;
  min-height: 40px;
  display: inline-block;
  float:left;
  border-radius: 3px;
  border: 1px solid #dce0e0;
  background-color: #F6F6F6 !important;
  margin-bottom: 10px;
  padding:10px;
}

.no-post{
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 24px;
}

.no-post-img{
  background-image: url('https://static.xx.fbcdn.net/rsrc.php/v2/yX/r/yDHWjtlL3ff.png');
  width: 136px;
  height: 136px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.no-post-btn{
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  float: none !important;
  margin-left: 0px !important;
  margin-bottom: 100px !important;
}



.post-Btn{
    float: right !important;
    width: 80px !important;
    min-width: 40px !important;
    height: 32px !important;
    background-color: $primary-color;

    margin-left: 0px !important;
    color: white;
    margin-bottom: 0px !important;
    font-size: 12px !important;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;
    -webkit-font-smoothing: antialiased;
    border-radius: 4px;
    border: 1px solid $primary-color;
}


/*--- Track Player ---*/



.post-track{
  width: 100%;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 4px;
  border: 1px solid $border;
  position: relative;
  background-size: cover;
  cursor: pointer;

  img{
  width: 100%;
  height: auto !important;
  }
}


.post-track.expand-post-track{
  height:300px !important;
}

.player1-Name{
  margin-top: 12px;
  height: 68px;
  width: 30px;
  float:left;
  z-index: 10;
  position: absolute;
  padding-top: 2px;
  font-size: 13px;
  line-height: 20px;
  margin-left: 10px;
}

.player1-play{
  width:25px;
  height:25px;
  margin-bottom: 7px;
  margin-left: 2px;
}

.play-Btn{
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: $primary-color;
  text-align: center;
  line-height: 28px;
  color: white;
  font-size: 10px;
  &:active{
     background-color: $dark-primary;
  }
  .glyphicon {
    margin-left: 2px;
    color: white !important;
  }
}

.player1-left-btn{
  float:left;
  position: absolute;
  margin-left: 46px;
  padding-left:5px;
  padding-right: 20px;
  margin-top: 10px;;
}

.player1-left-btn2{
  float:left;
  position: absolute;
  margin-left: 46px;
  padding-left:5px;
  padding-right: 20px;
  margin-top: 17px;;
}

.player1-artist{
  background: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  color: white;
  padding: 0px 5px 0px 5px;
  display: inline-block;
}

.player1-artist:hover{
  cursor: pointer;
}

.player1-songName{
  background: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  margin-top: -2px;
  color: white;
  display: inline-block;
  padding: 0px 5px 0px 5px;
}

.player1-songName:hover{
  cursor: pointer;
}

.rightCol-Filter-Title{
  width: 100%;
  height: 30px;
  border-bottom: 1px solid $border;
  margin-bottom: 20px;
}




/*----- Buttons -----*/

.btn-hollow.btn{
  height:38px;
  line-height: 33px;
  width:122px;
  color: #888;
  float:right;
  border: 1px solid;
  border-radius: 3px;
  text-align: center;
  margin-top: 12.5px;
  font-weight: bold;
  font-size: 12px;
  border-color: #d1d1d1;
  padding: 0px;
  margin-left: 10px;
  background-color: white;
  margin-bottom: 0px;
}

.right-Clique-Btn{
  width:100%;
  height:50px;
  background-color: $primary-color;
  color: white;
  margin-top: 10px;
  border-radius: 3px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}


.player1-btn{
  border: 1px solid #d1d1d1;
  height: 25px;
  width: 27px;
  margin-left: 5px;
  float: right;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  line-height: 27px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

.player1-btn:hover{
  color: $primary-color;
  cursor: pointer;
  border: 1px solid $primary-color;
    .glyphicon{
    color: $primary-color !important;
  }
}

.player1-btn2{
  border: 1px solid #d1d1d1;
  width: 27px;
  padding: 0px 5px;
  height: 25px;
  margin-left: 5px;
  float: right;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  line-height: 27px;
  color: #A5A5A5;
  background: transparent;
input[type=submit]{
  border: 0px;
  padding: 0px;
  font-size: 12px;
  min-width: 0px;
  margin: 0px;
  height: 25px;
}
}

.player1-btn2:hover{
  color: $primary-color;
  cursor: pointer;
    .glyphicon{
    color: $primary-color;
  }
}


/*--- Containers ---*/



.audioplayer-container{
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}








/*--- Profile Page Right Column ---*/

.rightBlock {
border-radius: 3px;
position: relative;
padding-bottom: 15px;
width: 100%;
float:right;
background-color: white;
border-radius: 3px;
padding: 15px;
border: 1px solid #d3e0e9;
margin-bottom: 10px
}

.rightBlock-Top{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.rightBlock-Body{
  width: 100%;
  border-radius: 3px;
}


.rightBlock-Body-Title{
  font-weight:bold;
  font-size: 14px;
  margin-bottom: 8px;
}

.right-Stats{
  height: 45px;
  width: 100%;
  color: #999;
  text-align: center;
}

.right-Stat1{
  width:30%;
  border-right: 1px solid #d3e0e9;
  float: left;
}

.right-Stat2{
  width:35%;
  float: left;
  border-right: 1px solid #d3e0e9;

}


.right-Stat3{
  width:35%;
  float: left;

}

.right-Stat-Bottom{
  font-size: 24px;
}


/*--- Nav Bar ---*/

.navbar-front{
  position: absolute !important;
  width: 100% !important;
  background-color: transparent;
  border: none;
}

/*--- Login Page / Sign Up Page  ----*/

.loginform {
    margin: 0 auto;
    width: 450px;
    background-clip: padding-box;
    background-color: #FFF;
    border-radius: 5px !important;
    border: none !important;
    max-width: 90%;
}

.fbc{
  background: $fbblue;
  color: white;
  padding: 15px 50px !important;
  &:hover{
    background: $fbhover;
  }
}

  .panel-heading {
    max-height:465px;
    overflow: hidden;
    border: 0px;
    .cwf{
      font-size: 16px;
        font-weight: 600;
        margin-left: 10px;
    }
    h2{
      font-size: 20px !important;
      text-align: center;
        -webkit-font-smoothing: antialiased;
        color: #848F94;
    }
    .fa{
      vertical-align: middle;
    }
  }

.tva{
  display: inline-block;
  vertical-align: middle;
}


/*--- Comments  ----*/

.post-commentBox{
  width:100%;
  padding: 9px 20px 9px 20px;
  display: inline-block;
  border-top: 1px solid #e5e5e5;
  background-color: white;
}

.modal-post-commentBox{
  width:100%;
  padding: 9px 20px 9px 20px;
  display: inline-block;
  border-top: 1px solid #e5e5e5;
  background-color: white;
  border-radius: 0px 0px 6px 6px;
  min-height: 30px;
}


#post_comment_content{
  width:92%;
  margin-left: 10px !important;
  float:right;
  height:32px;
  color: #C3C3C3;
  font-size: 14px;
  border: 0px;
  padding: 5px 10px;
  border: 1px solid #dcdee3;
  border-radius: 3px;
  background-color: white;
  margin-top: 0px;
}

.post-comment-Btn{
  width:20px;
  float:right;
  border:none;
  background-color: red;
  height: 32px;
}

/*--- Text Post ----*/

.textpost-Box{
  border:1px solid #dce0e0;
  margin-top: -1px;
  width: 100%;
  min-height: 50px;
  display: inline-block;
  background: white;
}

.textpost{
  width:100%;
  padding: 12px 20px 12px 20px;
  display: inline-block;
  background-color: white;
  border-radius: 5px;
}

.textpost:hover{
  background-color: #F5F8FA;
  cursor: pointer;
}

.text-Post{
  width: 100%;
  display: inline-block;
}

.text-userPic{
  width: 44px;
  height:44px;
  border-radius: 3px;
  float: left;
  overflow: hidden;
      justify-content:center;
    align-items:center;
    overflow:hidden;
  img{
    border-radius: 3px;
    flex-shrink:0;
    min-width:100%;
    min-height:100%;
    height: 100%;
  }
}

.commentSection-name{
  height: 16px;
  margin-top: -3px;
  font-weight: 500;
  float: left;
  padding-left: 10px;
  margin-right:4px;
}

.comment-time{
  float:right;
  text-align: right;
  width: 200px;
  height:100%;
  font-size: 12px;
  color: #999;
}


.post-Content{
  width:502px;
  display: inline-block;
  float: left;
  padding-left: 10px;
}



#messagesContent .fa{
    color: #C6C7C7;
    &:hover{
      color:#7C7D7D;
    }
  }


.message-send2{
    margin: 20px 25% !important;
    width: 50%;
    border: none !important;
}

/* NAVBAR */

.nav .menu-item {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    color: #888;
    display: block;
    line-height: 1;
    margin: 0;
    padding: 8px 0 8px 20px !important;
    position: relative;
    width: 100%;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    background-color: #fff;
}


.popover{

    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    display: block;
    text-align: left;
    border: 0px;
    margin: 0px;
    height: auto;
    border: 1px solid #cfd4db;
    border-top: none;
    padding: 0;
    -webkit-box-shadow: 1px 6px 12px rgba(0,0,0,0.05);
    box-shadow: 1px 6px 12px rgba(0,0,0,0.05);
    position: absolute;
    background-clip: padding-box;

}

.cdivider {
    border-top: 1px solid rgba(0,0,0,0.05);
    height: 0;
    margin: 5px 0;
}


@media (max-width: 767px){
.message-Box .modal-content {
    height: 100%;
    border: none;
    border-radius: 0px;
}

.modal-dialog{
  width: 100% !important;
    margin: 0;
    height: 100%;
    border: none;
    border-radius: 0px;
}

.message-textbox {
  border-radius: 0px;
  position: fixed;
  bottom: 0px;
}

.m-a{
    height: 100%;
    position: fixed;
    top: 0;
    padding-top: 94px !important;
    padding-bottom: 60px !important;
}

.modal-header{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

.message_comment{
    width: 75%;
    margin-left: 0px !important;
    margin-right: 2%;
}

.message-send{
    width: 23%;
    margin-left: 0 !important;
}

.message-Box-body{
  padding-top: 94px !important;
  height: 100%;
}

.new_message .modal-body {
    width: 100%;
    height: 100%;
    padding-top: 134px !important;
}
#messagesContent .fa{
    font-size: 24px;
  }

.close{
  font-size: 30px;
}

}

/*--- Track Modal  ---*/

.modal-dialog{
  width: 588px !important;
}

.modal-track-Top{
  width: 100%;
  height: 180px;
  border-radius: 6px 6px 0px 0px;
}

.model-track-background{
  width: 100%;
  height: 180px;
  z-index: 1;
  position: absolute;
  overflow: hidden;
      border-radius: 6px 6px 0px 0px;
        img {
      width: 100%;
      margin-top: -50px;
      border-radius: 6px 6px 0px 0px;
    }
}

.modal-track-Genre{
  padding: 0px 10px;
  line-height: 20px;
  color: #E1E3ED;
  font-size: 12px;
  height:20px;
  background-color: #565a5c;
  border-radius: 3px;
  margin-top: 20px;
  z-index: 10;
  position: absolute;
  right: 0;
  margin-right: 20px;
}


.player1-artist2{
  font-weight: 500;
  padding: 0px 5px 0px 5px;
}

.player1-artist2:hover{
  cursor: pointer;
}

.player1-songName2{
  font-size: 14px;
  margin-top: -2px;
  padding: 0px 5px 0px 5px;
}

.player1-songName2:hover{
  cursor: pointer;
}


.commentSection-name2{
  height: 16px;
  margin-top: -3px;
  font-weight: 500;
  float: left;
  padding-left: 10px;
  margin-right:4px;
  width: 498px;
}

.commentSection-comment{
  width:502px;
  height:20px;
  font-size: 14px;
  float: right;
  padding-left: 10px;
}

#track_comment_content{
  width:504px;
  margin-left: 10px !important;
  float:right;
  height:32px;
  color: #C3C3C3;
  font-size: 14px;
  border: 0px;
  padding: 5px 10px;
  border: 1px solid #dcdee3;
  border-radius: 3px;
  background-color: white;
  margin-top: 0px;
}










/*--- Post Modal  ---*/






.modal-textpost{
  width:100%;
  padding: 20px 20px 16px 20px;
  display: inline-block;
  background-color: white;
  border-radius: 6px 6px 0px 0px;
}

.post-Comment{
  width: 100%;
  background-color: #F9F9F9;
  padding: 9px 20px 0px 20px;
  border-top: 1px solid #e5e5e5;
    min-height: 49px;
}


.textpost-Body{
  padding: 20px;
  display: inline-block;
  width: 100%;
}

.text-Pin{
  width:100%;
  margin-bottom: 10px;
  color: #999;
  font-size: 12px;
}


.text-Top{
  width:100%;
  display: inline-block;
  margin-bottom: 5px;
}

.text-profileName{
  float:left;
  font-size: 12px;
  color: #999;
  display: inline-block;
  width:536px;
  margin-top: 2px;
  margin-left: 10px;

  width: 406px;

}

.text-Date{
  float:left;
  font-size: 12px;
  display: inline-block;
  color: #A5A5A5;
}

.text-Middle{
  width:100%;
  display: inline-block;
}


.text-text{
  width:100%;
  line-height: 22px;
  margin-bottom: 14px;
}

.text-Bottom{
  width:100%;
  background-color: red;
}




/*--- Payment  ---*/

.payment-due{
  display: inline-block;
}

.payment-price{
  color: #8fc243;
  font-size: 1.75rem;

}

.payment-panel{
  background: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.border-bottom-dotted{
  border-bottom: 1px dashed rgba(0,0,0,0.2);
}

.no-pad{
  padding: 0px;
}

.pad-bottom{
  padding-bottom: 15px;
}

.check-circle{
  width:20px;
  height:20px;
  border-radius:50%;
  background-color:#00B040;
  margin-right:10px;
  float:left;
  line-height: 20px;
  text-align: center;

  .glyphicon{
    color: white;
    font-size: 9px;
  }
}

.paypal-box{
  width: 100%;
  height: 50px;
  background-color: #ECF0F1;
  border: 1px solid #D8D8D8;
  border-radius: 3px;
  padding: 15px;
  font-weight: 600;
}

.paypal-icon{
  width:66px;
  height:18px;
  background-image: url(https://d300b3jgvyc6sw.cloudfront.net/assets/images/checkout-paypal-logo-color.png);
  background-size: 66px 18px;
}






.payment-icon-box{
  width: 100%;
  height: 50px;
  border-radius: 3px;
  padding: 15px;
  font-weight: 600;
}








.payment-icon1{
  height:24px;
  width: 38px;
  float:right;
  margin-left: 4px;
  background-image: url(https://cdn.shopify.com/s/assets/payment_icons/visa-bf29c175c020c2fbb499fa4b2d12258318ff9f8b26387dc00aeae02980fae0f2.svg);
  background-size: 38px 24px;
}

.payment-icon2{
  height:24px;
  width: 38px;
  float:right;
  margin-left: 4px;
  background-image: url(https://cdn.shopify.com/s/assets/payment_icons/master-5bd999784e40f839c90c804a4fe2847b6e2431c7b7138cfb22b23648aa300ea9.svg);
  background-size: 38px 24px;
}

.payment-icon3{
  height:24px;
  width: 38px;
  float:right;
  margin-left: 4px;
  background-image: url(https://cdn.shopify.com/s/assets/payment_icons/american-express-f80ce71c22ad10a4d52eb5714417d67d88365bcab346c2237a446bb8048f303d.svg);
  background-size: 38px 24px;
}

.payment-icon4{
  height:24px;
  width: 38px;
  float:right;
  margin-left: 4px;
  background-image: url(https://cdn.shopify.com/s/assets/payment_icons/visa-bf29c175c020c2fbb499fa4b2d12258318ff9f8b26387dc00aeae02980fae0f2.svg);
  background-size: 38px 24px;
}

/*--- Show Page  ---*/


.show-track-box{
  width:725px;
  height:465px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  overflow: hidden;
}





.show-media{
  width:465px;
  height:465px;
  float:left;
  background: gray;
  overflow: hidden;
  img{
  width:100%;
  height:auto;
  }
}

.show-right-col{
  height:465px;
  width:260px;
  background: white;
  float:left;
  border-radius: 0px 4px 4px 0px;
  overflow: hidden;


}


.show-right-col-top{
  width:100%;
  height: 70px;
  padding-right: 20px;
  border-bottom: 1px solid $border;
  padding-top: 20px;
  padding-left:20px;

  h5{
    margin: 0px;
  }

}


.show-right-col-middle{
  height: 345px;
  width: 100%;
  padding-top: 20px;
  overflow-y: scroll;
  padding-left: 20px;

  .media-heading{
  margin-bottom: 0px;
  }

  h5{
    margin: 0px;
  }

  p{
    margin: 0px 0px 5px;
  }

  .player1-btn2{
    border: white;
    line-height: 16px;
    height:auto;
  }




}

.show-right-col-bottom{
  height:35px;
  width:100%;

#track_comment_content{
  width:100%;
  height:50px;
  line-height: 50px;
  padding: 0px 0px 0px 20px;
  border: 0px solid white;
  border-top: 1px solid $border;
  overflow: hidden;
}








}

.profile-img{
  width:35px;
  height:35px;
}
