/* Following Section - Profile */



.following-section {
  width:900px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.follow-body {
  width: 100%;
  display: inline-block;
  padding-bottom: 10px;
}


.following-header {
  width: 100%;
  height: 40px;
  background-color: $medium-gray;
  font-family: "Open Sans";
  line-height:40px;
  text-transform: uppercase;
  padding-left: 25px;
  font-size:11px;
  font-weight: bold;
  letter-spacing: 0.3px;
  text-decoration: none;
  color: white;

}

.follow-box {
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  border-radius: 3px;
  background: #FCFDFF;
  width: 288px;
  display:inline-block;
  margin-right: 18px;
  float:left;
  margin-bottom: 10px;
  border-radius: 3px;

}

.follow-box2 {
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  border-radius: 3px;
  background: #FCFDFF;
  width: 288px;
  display:inline-block;
  float:left;
  margin-bottom: 10px;
  border-radius: 3px;
}

.follow-coverpic {
  width: 100%;
  height: 100px;
  border-width: 0px 0px 1px 0px;
  border-color: #E1E3ED;
  border-style: solid;
  background-position: 0 50%;
  border-radius: 3px 3px 0px 0px;
  overflow: hidden;
  img {
    width: 288px;
    height: auto;
  }
}


.follow-image {
  width:90px;
  height: 90px;
  float: left;
  position: absolute;
  margin-left: 16px;
  margin-top: 50px;
  background-color: $light-gray;
  border-color: $border-gray;
  border-width: 2px;
  border-style: solid;
  overflow: hidden;

}

.follow-info {
  width:100%;
  height:100px;
  float:left;
  padding: 5px 16px 5px 16px;

}

.follow-name {
  width:100px;
  height: 30px;
  line-height: 30px;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  float: left;
  margin-left: 16px;
  margin-top: 50px;
}

.follow-button {
  width:100px;
  height: 30px;
  line-height: 30px;
  font-family: 'Open Sans';
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 5px;
  background-color: $light-gray;
  border: 1px solid #e1e8ed;
  background-image: linear-gradient(#fff,#f5f8fa);
  background-color: #f5f8fa;
  float: right;
  margin-right: 16px;
  border-radius: 3px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}




.follow-bio {
  width:100%;
  height: 40px;
  line-height: 20px;
  font-family: 'Open Sans';
  font-size: 13px;
  float:left;

}