// Place all the styles related to the Settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$primary-color: #fe4641;
$border: #e5e5e5;

.settings-tabs1{
	background-color: #f5f5f5;
	border: 0px;
	height: 63px;
	line-height: 63px;
	font-size: 18px;
	float: left;
	margin-left: 50px !important;
	color: #848F94;
}

.settings-tabs1:hover{
	border-bottom: 1px solid $primary-color;
	color: $primary-color;
}


.settings-tabs{
    border: 0px;
    height: 63px;
    line-height: 63px;
    font-size: 14px;
    float: left;
    margin-left: 20px !important;
    color: #848F94;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
}

.settings-tabs:hover{
	border-bottom: 1px solid $primary-color;
	color: $primary-color;
}