/* Repeated Classes */

$primary-color: #fe4641;
$border: #e5e5e5;
$primary-hover: #A04444;
$fbhover: #374F86;
$fbblue: rgba(59, 89, 152,1);

.g-recaptcha>div>div{
	margin: 0 auto;
}

.fn-field{
    width: 50%;
    float: left;
    border-right: none !important;
    &>*{
    float: left;
    border-right: none !important;
    }
}
.ln-field{
	width: 50%;
    float: left;
}


/* Login Page */


.logoptions{
	color: #A5A5A5;
    margin-top: 80px;
	a{
	&:hover{
		color: #333 !important;
	}
}
}

#forgotbutton{
	float: right;
}

#loginbutton{
	font-size: 16px;
    margin: 0;
    width: 100%;
    height: 42px;
    border-radius: 5px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}


.panel-footer-CenterCol{
	width:240px;
	margin-right: auto;
	margin-left: auto;
	height:auto;

}


.panel-user {
	width:100%;
	height: 25px;
	margin-top: 10px;
}

.panel-user-picture {
	width: 25px;
	height: 25px;
	border-radius: 2px;
	float:left;
	margin-right: 10px;
	background-color: #333;
	img {
		width: 100%;
		height: auto;
	}

}

.panel-user-name {
	width:195px;
	height:100%;
	float:left;
	line-height: 25px;
	font-size: 14px;
	color: #47a5d0;

}


.panel-footer-divider {
	width: 100%;
	height:1px;
	margin: 18px auto;
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(255,255,255,.2);
}





#edit_page {
	.current_image {
		img {
			display: block;
			margin: 20px 0;

		}
	}
}








.modal-open {

	overflow: hidden;
    margin-right: 10px;
}

.modal-open::-webkit-scrollbar {
    display: none;

}




.modal-header{
	padding: 20px !important;
	background-color: #F8F9F9;
	border-radius: 3px 3px 0px 0px;
	text-align: center;
}


.modal-body{
	padding: 20px !important;
}


.modal-footer{
	padding: 20px !important;
}






.player1-Genre:hover{
	cursor: pointer;
	background-color: $primary-color;
}

.player1-postDate{
	height:21px;
	width:100%;
	text-align: right;
	color:#A5A5A5;
	position: absolute;
	right: 0;
	z-index: 10;
	margin-right: 20px;
	margin-top: 10px;
	font-size: 12px;
}




.player1-Section2{
	width: 100%;
	height: 62px;
	padding: 0px 20px 0px 20px;
	background-color: white;
	border-radius: 0px 0px 5px 5px;
}

.player1-Section3{
	width: 100%;
	height: 62px;
	padding: 0px 20px 0px 20px;
	border-bottom: 1px solid $border;
}




.player1-Section2-Middle{
	width:100%;
	height:100%;
	padding-top: 8px;

}




.player1-Bottom{
	width: 100%;
	min-height: 49px;
	padding: 9px 20px 0px 20px;
	display: inline-block;
	border: 1px solid $border;
	border-radius: 3px;
	background-color: #F6F6F6;

}







	.player1-Bottom-tall{
	height: 160px;
	}
.player1-Bottom-Middle{
	width:542px;
	float:right;
	height:32px;
	color: #C3C3C3;
	font-size: 14px;
	border: 0px;
	padding: 5px 10px;
	border: 1px solid #dcdee3;
	border-radius: 3px;
	background-color: white;
}

.player1-Bottom-Middle-tall{
	padding-bottom: 100px;
}

.comment-btn{
	display: inline-block;
	padding: 0 13px 0 14px;
	height: 32px;
	background-color: #999;
	display: none;
	float:right;
	border-radius: 3px;
	color: white;
	line-height: 32px;
	font-weight: bold;
	font-size: 12px;
	margin-top: 8px;

}



.player1-commentSection{
	width: 100%;
	padding: 20px 20px 20px 20px;
	display: inline-block;
	border: 1px solid $border;
	border-radius: 3px;
	background-color: white;
	margin-top: 8px;
.user-avi{
	height:40px;
	width:40px;
}
}

.comment-title{
	width:100%;
	border-bottom: 1px solid $border;
	height:20px;
}




.comment1{
	width:100%;
	height:40px;
	margin-bottom: 10px;
}














.userprofile-Setting{
	width: 32px;
	height: 32px;
	overflow: hidden;
	border-radius: 4px;

	img{
		width: 50px;
	}
}


.user-avi1{
	width:32px;
	height:32px;
	border-radius: 4px;
	overflow: hidden;
	float: left;
	background-color: $border;
	img{
	height:32px;
	width: 32px;
	}
}



.user-avi{
	width:32px;
	height:32px;
	border-radius: 4px;
	overflow: hidden;
	float: left;
	background-color: $border;
}









/******* Audio Player Bottom ****/
.audioplayer-bottom {
  width: 100%;
  height: 50px;
  background-color: #F6F6F6;
  border: 1px solid #EAEAEA;
  position:fixed;
  bottom:0;
  z-index: 2000;

  .progress {
    float: left;
    width: 500px;
    height:2px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left:226px;
    background-color: #999;
  }

  .progress-bar {
    background-color: $primary-color;
  }

.progress-bar-info {
  }
}


.audioplayer-image {
  width:28px;
  display: block;
  height:28px;
  border-radius: 3px;
  float: left;
  margin: 10px 10px 10px 838px;
  position: relative;
  top: 0;  bottom: 0;
  background-position: 50% 50%;
  background-size: 100%;
  background-image: url(http://thatgrapejuice.net/wp-content/uploads/2013/02/asap-rocky-mr-porter-5-e1361908414323.jpg)
}

.audioplayer-info {
  width:auto;
  height:50px;
  float: left;
  margin: auto;
  margin-left:0px;
  color: #333;
  font-size: 11px;
  position: relative;
  top: 0;  bottom: 0;
  line-height: 8px;

  h4 {
    font-size: 11px;
    color: #909090;
  }

  h5 {
    line-height: 0px;
    font-size: 12px;
  }
}

.audioplayer-play {
  width:140px;
  height:20px;
  float: left;
  margin: auto;
  position: absolute;
  top: 0;  bottom: 0;
  margin-left:30px;
  font-size: 18px;

  .glyphicon {
    color: #999;
    margin-right: 20px;
  }
}

.audioplayer-length1 {
  width:140px;
  height:20px;
  float: left;
  margin: auto;
  position: absolute;
  top: 0;  bottom: 0;
  margin-left:184px;
  color: #333;
  font-size: 11px;
  line-height: 20px;
}

.audioplayer-length2 {
  width:140px;
  height:20px;
  float: left;
  margin: auto;
  position: absolute;
  top: 0;  bottom: 0;
  margin-left:744px;
  color: #333;
  font-size: 11px;
  line-height: 20px;
}

.audioplayer-btn-Right {
	margin-left: 1100px;
  position: absolute;
  top: 0;  bottom: 0;
  width: 300px;
  margin-top: 12px;
}

.audioplayer-btn {
	float: left;
	width: 27px;
	height: 25px;
	border: 1px solid #909090;
	border-radius: 3px;
	font-size: 12px !important;
	text-align: center;
	line-height: 25px;
	color: #909090;
	margin-right: 6px;

glyphicon{
	font-size: 12px !important;
}




}

.audioplayer-btn:hover {
	border: 1px solid $primary-color;
	color: $primary-color;
	cursor: pointer;
}















