<footer class="footer">
  <div class="container2">
      <div class="links">

        <ul>
          <li><h3>Get Started</h3></li>
          <li><a href="/how-it-works/">How It Works</a></li>
          <li><a href="/app/pricing">Pricing</a></li>
          <li><a href="/sign-up">Sign Up for Zapier</a></li>
        </ul>
        

        <ul>
          <li><h3>Explore</h3></li>
          <li><a href="/zapbook/">App Directory</a></li>
          <li><a href="/app/explore">Search for Zaps</a></li>
          <li><a href="/zapbook/case-studies/">Case Studies</a></li>
          <li><a href="/zapbook/use-cases/">Use Cases</a></li>
          <li><a href="/zapbook/customers/">Customers</a></li>
        </ul>
        <ul>
          <li><h3>Helpful</h3></li>
          <li><a href="/help/">Help &amp; Support</a></li>
          <li><a href="/learn/">Learning Center</a></li>
          <li><a href="/zapbook/updates/">App + Feature Updates</a></li>
          <li><a href="/support/">Contact Support</a></li>
        </ul>
        <ul>
          <li><h3>Developers</h3></li>
          <li><a href="/developer/">Developer Platform</a></li>
          <li><a href="/developer/documentation/v2/">Documentation</a></li>
          <li><a href="/status/">API Status Board</a></li>
          <li><a href="/engineering/">Engineering Blog</a></li>
          <li><a href="/engineering/bug-bounty-program/">Bug Bounty</a></li>
        </ul>
        <ul>
          <li><h3>Company</h3></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/about/" title="Meet the Zapier team and learn about our story">About</a></li>
          <li><a href="/about/brand/" title="Get Zapier logos and read our brand guidelines">Brand + Logos</a></li>
          <li><a href="/jobs/" title="Join us in our mission to make work easier!">Jobs</a></li>
        </ul>
      </div>











      </div>
    </footer>
