.rightCol-Filter
	.rightCol-Filter-Title
		.rightCol-Filter-Title-Name
			%span.glyphicon.glyphicon-heart{"aria-hidden" => "true"}
			Favourites
		.rightCol-Filter-Title-Stat
			470



	.rightCol-Filter-Profile
		.rightCol-Profile-Avi
			%img{:alt => "Smiley face", :height => "40", :src => "https://i1.sndcdn.com/artworks-000138032353-aywlgh-t500x500.jpg", :width => "40"}/
		.rightCol-Profile-Bar
			.rightCol-Profile-Name
				EverestMG
			.rightCol-Followers
				%i.fa.fa-user-plus
				45.2K
		.rightCol-Profile-Follow
			Follow


	.rightCol-Filter-Profile
		.rightCol-Profile-Avi
			%img{:alt => "Smiley face", :height => "40", :src => "https://i1.sndcdn.com/avatars-000157722791-4aqyc1-t500x500.jpg", :width => "40"}/	
		.rightCol-Profile-Bar
			.rightCol-Profile-Name
				Flow-Fi
			.rightCol-Followers
				%i.fa.fa-user-plus
				120.3K
		.rightCol-Profile-Follow
			Follow


	.rightCol-Filter-Profile
		.rightCol-Profile-Avi
			%img{:alt => "Smiley face", :height => "40", :src => "https://i1.sndcdn.com/avatars-000183007726-u3wsuc-t500x500.jpg", :width => "40"}/
		.rightCol-Profile-Bar
			.rightCol-Profile-Name
				Bryson Tiller
			.rightCol-Followers
				%i.fa.fa-user-plus
				3.2M
		.rightCol-Profile-Follow
			Follow
