<div class="container2">
  <div class="leftCol">
  <div class="newsfeed-title">
    <div class="newsfeed-title1">
      Stream
    </div>
    <div class="newsfeed-title2">
      Explore
    </div>
  </div>

  <div class="newsfeed-subtitle">
    Listen to the latest tracks from people you follow
  </div>


<%= render "layouts/tracks" %>
<%= render "layouts/tracks" %>
<%= render "layouts/tracks" %>
<%= render "layouts/tracks" %>











</div>


</div>