<div class="buffer">
  <h1>Settings</h1>
<!-- TODO: Make tabs so that it will change the content each time one is pressed -->
<div id="content">
  <%= render :partial => "settings/account" %>
</div>
</div>
